<div class="app" (click)=globalClick($event)>
	
	<header class="header app__header">
		<img class="header__burger" src="assets/img/menu.svg">
		<h1 class="header__h1">{{ title }}</h1>
    <form (submit)="searchSubmit($event)" class="header__search search-form search-form_header">
    	<input [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" class="search-form__input" placeholder="Поиск emoji">
    	<button class="search-form__submit">
    		<img class="search-form__loupe" src="assets/img/search.svg">
    	</button>
    </form>
	</header>		

	<div class="sidebar app__sidebar" [ngClass]="{'app__sidebar_open': mobileNavOpen}">
		<form (submit)="searchSubmit($event)" class="sidebar__search search-form search-form_sidebar">
	  	<input [(ngModel)]="searchQuery" [ngModelOptions]="{standalone: true}" class="search-form__input" placeholder="Поиск emoji">
	  	<button class="search-form__submit">
	  		<img class="search-form__loupe" src="assets/img/search.svg">
	  	</button>
	  </form>
		<a routerLink="/" routerLinkActive="sidebar__ref_active" [routerLinkActiveOptions]="{exact: true}" class="sidebar__ref">Все</a>
		<a routerLink="/favs" routerLinkActive="sidebar__ref_active" class="sidebar__ref">Любимые</a>
		<a routerLink="/deleted" routerLinkActive="sidebar__ref_active" class="sidebar__ref">Удаленные</a>				
	</div>

	<!-- Контент -->
	<div class="app__content">
		<router-outlet></router-outlet>
	</div>

</div>